.column {
    background: aquamarine;
    border: 1px solid black;
}

.card-header {
    position: relative;
    cursor: pointer;
}

.fa-chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 20px;
}

.accordion-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in;
}

.accordion-body.active {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

